<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
  <a class="navbar-brand px-4" href="#">Header and Sidenav</a>

  <div class="navbar-collapse">
    <!-- <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            >Menu</a
          >
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item">Child 1</a></li>
            <li><a class="dropdown-item">Child 2</a></li>
            <li><a class="dropdown-item">Child 3</a></li>
          </ul>
        </li>
      </ul> -->
  </div>

  <div class="profile-logo dropstart">
    <button
      class="btn btn-outline-light dropdown-toggle"
      data-bs-toggle="dropdown"
    >
      Darshan
    </button>
    <ul class="dropdown-menu dropstart">
      <li><a class="dropdown-item">Sign up</a></li>
      <li><a class="dropdown-item">Log in</a></li>
    </ul>
  </div>
</nav>
